/* #-------------------# */
/* |                   | */
/* | CSS TRANG LIÊN HỆ | */
/* |                   | */
/* #-------------------# */

/* ------------------- Shop Page Breadcrumb -------------------- */
.shop-page-title-container {
    display: block;
    width: 100%;
    background: #EEEEEE;
    clear: both;
    height: auto;
    z-index: 1;
}

.shop-page-title-container.darkmode {
    background-color: #2D333B;
}

.shop-page-title-inner {
    padding: 15px 30px;
}

.page-title {
    width: 100%;
    padding-bottom: 10px;
    color: black;
}

.shop-page-title-container.darkmode .page-title {
    color: #BB86FC;
}

.breadcrumb {
    font-size: large;
    color: #666666;
    font-weight: 600;
}

.shop-page-title-container.darkmode .breadcrumb {
    color: #BBBBBB;
}

.breadcrumb a {
    color: black;
    font-size: large;
}

.shop-page-title-container.darkmode .breadcrumb a {
    color: white;
}

.divider {
    font-size: 18px;
    padding: 5px;
}

/* ------------------------- Main ------------------------- */
#main {
    width: 100%;
    height: auto;
    font-family: sans-serif;
    position: relative;
    display: table;
}

#main.darkmode {
    background-color: #1C2128;
}

#main a {
    font-weight: normal;
}

#main #left-content-container {
    width: 40%;
    height: auto;
    padding: 40px 20px;
    float: left;
}

#main.darkmode #left-content-container {
    background-color: #1C2128;
}

#left-content-container h3 {
    padding-bottom: 20px;
    font-size: 23px; 
}

#main.darkmode #left-content-container h3 {
    color: #BB86FC;
}

#left-content-container li {
    padding: 0 15px 15px;
    line-height: 25px;
}

#main.darkmode #left-content-container li, p,
#main.darkmode #left-content-container li a {
    color: #ADBAC7;
}

#creators li {
    padding: 0 20px;
}

#left-content-container .left-content-icon {
    padding-right: 10px;
}

#left-content-container a {
    color: black;
}

#main #left-content-container li a:hover {
    color: red;
}

#left-content-container p {
    padding-top: 10px;
    line-height: 25px;
}

#main #right-content-container {
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
    padding: 40px 20px 40px 30px;
    float: right;
}

#main.darkmode #right-content-container {
    color: #ADBAC7;
    background-color: #1C2128;
}

#contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#contact-form .form-inner {
    width: 100%;
    height: auto;
}

#contact-form .form-inner label {
    display: block;
    padding-bottom: 4px;
}

#contact-form .form-inner input {
    display: block;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #888888;    
    background-color: #EEEEEE;
}

#contact-form .form-inner input:focus {
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

#contact-content {
    max-width: 100%;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #EEEEEE;
}

#contact-content:focus {
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

#contact-submit {
    padding: 10px;
    cursor: pointer;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: 1px solid;
    font-size: larger;
}

#contact-submit:hover {
    background-color: #EE0000;
}

/* ----------------------- Responsive --------------------- */
@media only screen and (max-width: 400px) {
    .shop-page-title-inner {
        padding: 15px;
    }

    .page-title {
        font-size: 22px;
        padding-bottom: 8px;
    }

    .breadcrumb {
        font-size: 14px;
    }

    .breadcrumb a {
        font-size: 14px;
    }

    .divider {
        font-size: 14px;
    }

    #left-content-container h3 {
        padding-bottom: 15px;
        font-size: 20px;
    }

    #left-content-container p {
        font-size: 14px;
    }

    #left-content-container li {
        padding: 0 12px 10px;
        font-size: 14px;
    }

    #creators li {
        padding: 0 15px;
    }


}

@media only screen and (max-width: 768px) {
    /* Left menu */
    .left-menu-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #shop-sidebar {
        width: 90%;
    }

    /* Content */
    #left-content-container {
        width: 100%;
        display: block;
        padding: 40px 20px 0;
    }

    #right-content-container {
        width: 100%;
        display: block;
        padding: 20px 20px 30px;
    }

    #contact-form .form-inner label {
        font-size: 15px;
    }

    #contact-form .form-inner input {
        padding: 12px;
        margin-bottom: 17px;
    }

    #contact-content {
        max-width: 100%;
        width: 100%;
        padding: 15px;
        margin-bottom: 17px;
    }

    #contact-submit {
        padding: 8px;
        font-size: 15px;
    }
}

/* Điện thoại di động ở chế độ dọc */
@media only screen and (max-width: 576px) {
    
}

/* Điện thoại di động ở chế độ ngang */
@media only screen and ((min-width: 577px) and (max-width: 768px)) {
    
}

/* Máy tính bảng */
@media only screen and ((min-width: 769px) and (max-width: 992px)) {
    
}

/* Máy tính để bàn */
@media only screen and (min-width: 993px) {
    
}